<div class="container">
<h2>What Game Would You Like To Play?</h2>
  <ul>
    <li><a href="/high_low">High / Low</a></li>
    <li><a href="/slots">Slots</a></li>
    <li><a href="/war">War</a></li>
  </ul>

</div>
