<div class='container'>

<h1>Welcome To High Low</h1>

<h4>
  The Number Is:
  <% $high_low_number = @high_low.init_rand_num %>
  <%= $high_low_number %>
</h4>

<h4>Make your guess? Higher or Lower? (1 - 20)</h4>


<button type='button'><a href='/high'>High</a></button>

<button type='button'><a href='/low'>Low</a></button>

<!-- <form method='POST' action='/high_low_guess'>
  <select name="High/Low" form="high-low-list">
  <option value="high">High</option>
  <option value="low">Low</option>
  <input type='submit' />
</form> -->
