<<<<<<< 431ad3e3fde6040a1b081fefc6b263da4297a0f0
<div class="container intro">
  <h1>Welcome The Casino!</h1>

  <a class="btn" href="/player">Create Player Profile</a>

</div>
=======
<h1>Welcome The Casino!</h1>
>>>>>>> setting up
