<html>
  <head>
    <title>Sinatra Casino</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  </head>
  <body>

  <header class="container head">
    <h1>Casino</h1>
  </header>


  <nav class="container nav">
    <ul>
      <li><a href="/">Casino Home</a></li>
      <li><a href="/player">Player info</a></li>
    </ul>
  </nav>

    <%= yield %>
  </body>
</html>
