<h1> Welcome to $1 Slots! </h1>
<!-- <%@balance = 100 %> -->
<%@wallet = @balance%>
<h3> Your balance is $<%=@wallet%> </h3>

<form action="/slots/play">
    <input type="submit" value="SPIN!!!" />
</form>
