<div class="center_slots">
<br/>
<br/>
<br/>
<br/>
<h1> Welcome to $1 Slots! </h1>
<br/>
<br/>
<br/>
<h3> Your balance is $<%=$player.wallet.amount%> </h3>

<a class="btn" href="/slots/play">SPIN NOW!</a>

</div>
